<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container-fluid">
    
    <a class="navbar-brand" routerLink="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png"
           alt="Pokemon Logo"
           height="50">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/tipos">Tipos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>